<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CertiMaker"
        tools:targetApi="31">
        <activity
            android:name=".loginactivity.panel.UserActivity"
            android:exported="false" />
        <activity
            android:name=".loginactivity.panel.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".loginactivity.usinggoogle.LoginPageGoogle"
            android:exported="false" />
        <activity
            android:name=".storage.UploadImgActivity"
            android:exported="false" />
        <activity
            android:name=".firestore.FireStoreActivity"
            android:exported="false" />
        <activity
            android:name=".firestore.updatedata.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ExcelAndCsv"
            android:exported="false" />
        <activity
            android:name=".loginactivity.usingemail_pass.LogOut"
            android:exported="false" />
        <activity
            android:name=".loginactivity.usingemail_pass.Rigerster"
            android:exported="false" />
        <activity
            android:name=".realtimedatabase.DatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginactivity.usingemail_pass.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".loginactivity.panel.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>